
  @import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

* {
  font-family: 'Architects Daughter', cursive;
  font-size: 18px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(222, 196, 183);
  /* background-image: url("./bgimg.webp");
  background-size: 100% 100%;
  background-repeat: no-repeat; */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* @media screen and (min-width: 768px) {
  
} */

.App {
  text-align: center;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  background: #3a1212b2;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 15px;
}

.TodoForm {
  width: 100%;
  margin-bottom: 1rem;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #f3c074b5;
  border-radius: 15px;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-right: 10px;
  margin-bottom: 2rem;
  width: 300px;
  color: #fff;
}

.todo-input::placeholder {
  color: #ffffff4d;
}

.todo-btn {
  background: #f3c074b5;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
  border-radius: 15px;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #3a1212b2;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 15px;
  margin-bottom: 1rem;
}

.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  color: #fff;
  cursor: pointer;
}

.completed {
  color: #bd8f8fb2;
  text-decoration: line-through;
  cursor: pointer;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}
 